table {
  #black-book{
    height: 200px;
    width: 200px;
    background-image: url(images/black-book.png);
    background-size: cover;
  }
  #brown-book{
    height: 200px;
    width: 200px;
    background-image: url(images/brown-book.png);
    background-size: cover;
  }
  #green-book{
    height: 200px;
    width: 200px;
    background-image: url(images/green-book.png);
    background-size: cover;
  }
  #orange-book{
    height: 200px;
    width: 200px;
    background-image: url(images/orange-book.png);
    background-size: cover;
  }
  #red-book{
    height: 200px;
    width: 200px;
    background-image: url(images/red-book.png);
    background-size: cover;
  }
  #yellow-book{
    height: 200px;
    width: 200px;
    background-image: url(images/yellow-book.png);
    background-size: cover;
  }
}
